@import "variables";

button {
  color: inherit;
  border: none;
  background-color: lighten($mainBGColor, 5%);
  border-radius: 7px;
  padding: 0.5em 1em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: lighten($mainBGColor, 7%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
}

button.primary {
  background-color: $mainColor;
  color: #eee;
}

button.primary:hover {
  color: white;
}

button[disabled] {
  opacity: 0.5;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
