@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Arimo', sans-serif;
  color: darkslategray;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #fafafa;
}

#root {
  display: flex;
  justify-content: center;
}
