@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=VT323');
@import "../../../node_modules/normalize.css/normalize.css";
@import "button";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Arimo", sans-serif;
  color: darkslategray;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #fafafa;
}

#root {
  display: flex;
}

