@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=VT323');
@import "../../../node_modules/normalize.css/normalize.css";
@import "button";
@import "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Arimo", sans-serif;
  color: lightgray;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: $mainBGColor;
}

#root {
  display: flex;
}

h1, h2, h3, h4, h5 {
  color: $accentTextColor
}
