.GameLobby {
  margin: auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.GameLobby__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
