@import "../../styles/variables";

.game-item {
  display: flex;
  align-items: center;
}

.game-item__cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
  &--no-shrink {
    flex-shrink: 0;
  }
}

.game-item__title {
  margin: 0;
  flex-grow: 1;
  font-size: inherit;
}

.game-item__players {
}

.game-item__button {
  background: $mainColor;
  color: white;
}
